* {
	font-family:helvetica, arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #ffcaca;
	/*height: 104px;*/
}


.logo{
	width:100px;
	/*height: 98px;*/
    margin-left: 18px;
    position:absolute;
    /*text-shadow: 2px 2px grey;*/
}
.container {
	width: 100%;
	max-width: 1024px;
	margin: auto;
}

.overflow {
	overflow: hidden;
}

.navigation {
	list-style: none;
	padding-top: 60px;
	max-height: 0;
	transition: 0.3s max-height ease-in-out;
}

.navigation.active {
	display: block;
	max-height: 900px;
}

.navigation li:hover a {
	color:white;
	background-color: #4b553a;
}

.navigation li a {
	display: block;
	padding: 10px;
	text-align: center;
	color: #4b553a;
	text-decoration: none;
}

.mobile-btn {
	margin: 15px 0;
	margin-right: 30px;
	height: 30px;
	width: 30px;
	float: right;
	background-color: #4b553a;
	cursor:pointer;
}

@media screen and (min-width: 1024px){
	.logo{
		width:120px;
	}
	.hide-on-desktop {
		display: none;
	}

	.navigation {
		display: block;
		padding: 0;
		text-align: right;
		max-height:none;
	}

	.navigation li {
		display: inline-block;
	}
	.navigation li a {
		padding: 30px;
	}
}
