* {
	font-family:helvetica, arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: auto;
}

.overflow {
	overflow: hidden;
}


/*NAVIGATION*/

nav {
	/*background-color: #ffcaca;*/
	background-image:url(img/bgcolour.jpg);
	background-size: contain;
	/*height: 104px;*/
}

h1 {
	font-family: 
}
p {
	font-size: 12px;
	text-align: center;
}

.logo{
	width:100px;
	/*height: 98px;*/
    margin-left: 18px;
    position:absolute;
    /*text-shadow: 2px 2px grey;*/
}

.navigation {
	list-style: none;
	padding-top: 60px;
	max-height: 0;
	transition: 0.3s max-height ease-in-out;
}

.navigation.active {
	display: block;
	max-height: 900px;
}

.navigation li:hover a {
	color:white;
	background-color: #4b553a;
}

.navigation li a {
	display: block;
	padding: 10px;
	text-align: center;
	color: #4b553a;
	text-decoration: none;
}

.mobile-btn {
	margin: 15px 0;
	margin-right: 30px;
	height: 30px;
	width: 30px;
	float: right;
	background-color: #4b553a;
	cursor:pointer;
}

/*NAVIGATION END*/

/*CAROUSEL*/

.carousel-container {
	overflow:hidden;
	position:relative;
	height:500px;
}

.carousel {
	white-space: nowrap;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	font-size: 0;
}

.slide {
	width:100%;
	height:100%;
	white-space: normal;
	display:inline-block;
	position:relative;
	font-size: medium;
	
}
.slide .bgimg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position: 50% 50%;
	z-index: -1;
	filter:brightness(0.5);
}

.slide h1 {
	margin-top: 180px;
	text-align: center;
	color:white;
}
.slide p {
	padding:50px 80px;
	color:white;
}

.carousel-btn{
	position:absolute;
	padding:120px;
	top:0;
	left:0;
	height:100%;
	background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
	border:none;
	outline:none;
	cursor:pointer;
}
.carousel-btn.btn-right{
	left:unset;
	right:0;
	background: linear-gradient(90deg, rgba(0,0,0,0),rgba(0,0,0,0.5));
}
/*CAROUSEL END*/



@media screen and (min-width: 1024px){
	.logo{
		width:120px;
	}
	.hide-on-desktop {
		display: none;
	}

	.navigation {
		display: block;
		padding: 0;
		text-align: right;
		max-height:none;
	}

	.navigation li {
		display: inline-block;
	}
	.navigation li a {
		padding: 30px;
	}
}
