* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #ffcaca;
	height: 104px;
}

li {
	margin-top: 33px;
	font-family: helvetica;
	padding-left: 20px;
}

.logo{
	height: 98px;
    margin-left: 18px;
    /*text-shadow: 2px 2px grey;*/
}
.container {
	width: 100%;
	max-width: 1024px;
	margin: auto;
}

.overflow {
	overflow: hidden;
}

.navigation {
	list-style: none;
	padding-top: 30px;
	display: none;
	max-height: 900px;
}

.navigation.active {
	display: block;
}

.navigation li {
	/*height: 104px;*/
}

.navigation li a {

	display: block;
	padding: 10px;
	text-align: center;
	color: #4b553a;
	text-decoration: none;
}

.mobile-btn {
	margin-top: 35px;
	margin-right: 30px;
	height: 30px;
	width: 30px;
	float: right;
	background-color: #4b553a;


}

@media screen and (min-width: 1024px){
	.hide-on-desktop {
		display: none;
	}

	.navigation {
		display: block;
		padding: 0;
		text-align: right;
	}

	.navigation li {
		display: inline-block;


	}
}
