*{
  font-family: helvetica
}

body {
  margin: 0;
}
main {
    min-height:200px;
    height:100%%;
}
.container {
    width : 1024px;
    margin:auto;
}

.nav {
  background-color: #2d2d2d;
}

.main-navigation {
  display: block;
  text-align: right;
  list-style-type: none;
  margin: auto;
  padding: 0;
  width:100%;
  max-width:1024px;
  /*text-decoration: none;*/
}

.main-navigation li {
  display:inline-block;
  vertical-align: bottom;
  position: relative;
}

.main-navigation li a {
  display: block;
  padding:30px;
  text-decoration: none; 
  color: #bababa;
}

.main-navigation li a:hover {
  color: #777777;
}

.logo {
    float:left;
}

.logo a img {
  width: 16px; 
  height: 16px; 
  /*padding: 31px;*/
}

.sub-navigation {
  display:none;
  position:absolute;
  width:100%;
  top:100%;
  left:0;
  padding:0;
  background-color: #fff;
}

.sub-navigation li {
  display:block;
}

.sub-navigation li a{
  display: block;
  text-decoration: none; 
  color: black;
  padding: 10px 0;
}

.sub-navigation li a:hover{
    color:darkgray;
}

.main-navigation li:hover .sub-navigation{
  display:block;
}

.btn {
  color:white;
  background-color: #333;
  display:inline-block;
  padding:10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  text-decoration: none;
  transition:0.3s transform ease;
}
.btn:hover {
  transform:translateY(-2px);
}
.btn:active {
  background-color:red;
  transform:translateY(0);
}

